src/main/mule/Implementation.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:http="http://www.mulesoft.org/schema/mule/http" xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core"
	xmlns:wsc="http://www.mulesoft.org/schema/mule/wsc"
	xmlns:validation="http://www.mulesoft.org/schema/mule/validation" xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/validation http://www.mulesoft.org/schema/mule/validation/current/mule-validation.xsd
http://www.mulesoft.org/schema/mule/wsc http://www.mulesoft.org/schema/mule/wsc/current/mule-wsc.xsd
http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd">
	<sub-flow name="NewRelic" doc:id="a8be7cb9-834b-462e-b55b-ea8cd0fea38a" >
		<http:request method="POST" doc:name="send event" doc:id="cc96a9c5-0283-4e0d-8175-93689080385f" config-ref="HTTP_Request_configuration" path="/events">
				<http:body><![CDATA[#[vars.OrderStatus]]]></http:body>
				<http:headers><![CDATA[#[output application/json
---
{
	"X-insert-Key": "NRII-nOh-ptWOA2vIMvN_ZUyFQaZIhjugvE_I",
	"Content-Type": "application/json"
}]]]></http:headers>
			</http:request>
	</sub-flow>
	<flow name="Orders" doc:id="cea4c38e-3fc2-47db-b26d-804e1a61db7c" >
		<ee:transform doc:name="enrich payload" doc:id="e7a55298-512a-4773-9592-c5e585b05a78" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/json
---
{
  "customerId": payload.customername,
  "totalPrice": payload.totalprice,
  "orderLineItems": [
    {
      "productId": payload.productid,
      "quantitiyOnHand": payload.quantity,
      "price": payload.priceperunit as String
    }
  ]
}]]></ee:set-payload>
			</ee:message>
		</ee:transform>
		<ee:transform doc:name="changing payload as per SOAP request" doc:id="11c3e0f1-261f-4f09-9f66-f6214f613414" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/xml
ns ns0 http://tempuri.org/
---
{
	ns0#CreateOrder: {
		ns0#Order: {
			ns0#Items: {
				(payload.orderLineItems map ( orderLineItem , indexOfOrderLineItem ) -> {
					ns0#OrderItem: {
						ns0#ProductId: orderLineItem.productId as Number,
						ns0#Quantity: orderLineItem.quantitiyOnHand
					}
				})
			},
			ns0#Status: "new",
			ns0#TotalPrice: payload.totalPrice,
			ns0#UserId: payload.customerId
		}
	}
}]]></ee:set-payload>
			</ee:message>
		</ee:transform>
		<wsc:consume doc:name="order creation WS" doc:id="c71ec5f8-f029-4a02-a2da-44b3bee30166" config-ref="Web_Service_Consumer_Config" operation="CreateOrder"/>
		<ee:transform doc:name="set success payload" doc:id="fea29511-bbc6-4671-b330-a8a967eb6a4c" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/json
---
{
	"message": "Order created successfully!"
}]]></ee:set-payload>
			</ee:message>
			<ee:variables >
				<ee:set-variable variableName="OrderStatus" ><![CDATA[%dw 2.0
output application/json
---
{
    severity: "LOW",
    eventType: "OrderStatus",
    env: "DEV",
    messageId: uuid() as String,
    muleAppName: "prt-orders-sys-api",
    intgCreationDate: now() as String {format: "yyyy-MM-dd'T'HH:mm:ss.ss'Z'"},
    payload: write(payload,'application/json'),
    resultMessage: vars.errorMessage default ' ',
    result: "Success",
    action: "Order created successfully!"
}]]></ee:set-variable>
			</ee:variables>
		</ee:transform>
		<async doc:name="Async" doc:id="6221ae6d-0c33-4915-9235-fc1eb95d7783" >
			<flow-ref doc:name="NewRelic" doc:id="7ac52479-55e6-4715-905b-f2c724890e5c" name="NewRelic" targetValue="#[vars.OrderStatus]"/>
		</async>
		<error-handler >
			<on-error-continue enableNotifications="true" logException="true" doc:name="On Error Continue" doc:id="06480337-8e7f-42a4-980f-52478f9fc357" type="ANY">
				<ee:transform doc:name="set error payload" doc:id="8f05a294-2535-43e7-abd0-ad9fe58c953f" >
					<ee:message >
						<ee:set-payload ><![CDATA[%dw 2.0
output application/json
---
{
	"message": "Order cannot be created!"
}]]></ee:set-payload>
					</ee:message>
					<ee:variables >
						<ee:set-variable variableName="httpStatus" ><![CDATA[500]]></ee:set-variable>
						<ee:set-variable variableName="OrderStatus" ><![CDATA[%dw 2.0
output application/json
---
{
    severity: "Error",
    eventType: "OrderStatus",
    env: "DEV",
    messageId: uuid() as String,
    muleAppName: "prt-orders-sys-api",
    intgCreationDate: now() as String {format: "yyyy-MM-dd'T'HH:mm:ss.ss'Z'"},
    payload: write(error.detailedDescription,'application/json'),
    resultMessage: error.detailedDescription default ' ',
    result: "Error",
    action: "Order cannot be created!"
}
]]></ee:set-variable>
					</ee:variables>
				</ee:transform>
				<async doc:name="Async" doc:id="c09955b5-e51c-41f3-86d5-ae8055beb1aa" >
					<flow-ref doc:name="NewRelic" doc:id="977a6a36-c40b-4a15-b398-180eb7652ea3" name="NewRelic" targetValue="#[vars.OrderStatus]" />
				</async>
			</on-error-continue>
		</error-handler>
	</flow>
</mule>
